/* Utility class to clear floats of inner elements */
.group:after {
	content: "";
	display: table;
	clear: both;
}

/* Layout */
body {
	background: url(../img/dots.png);
	min-height: 100%;
	font-family: Helvetica;
	color: #29282D;
}
#header img {
	width: 100%;
	border-bottom: 1px solid #ccc;
}
#container {
	width: 960px;
	margin: 0 auto;
	/*background: */
	background: rgba(255,255,255,0.7) url(../img/europe_.png) no-repeat top center;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
	
#top > div {
	float: left;
	width: 48%;
	margin: 1%;
	text-align: center;
}
#main {
	min-height: 500px;
	padding: 20px;
}
#articles-list, #content {
	margin-top: 20px;
	padding-top: 20px;
}
#articles-list ul {
	list-style: none;
}
#footer {
	height: 100px;
	padding: 20px;
	background: #3f3f3f; /* Old browsers */
	background: -moz-linear-gradient(top, #3f3f3f 0%, #000000 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3f3f), color-stop(99%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3f3f3f 0%,#000000 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3f3f3f 0%,#000000 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3f3f3f 0%,#000000 99%); /* IE10+ */
	background: linear-gradient(to bottom, #3f3f3f 0%,#000000 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	color: #fff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 20px;
}

/* Common Elements */
h1 {
	margin: 0;
	line-height: 1.8em;
	text-align: center;
	background: rgba(255,255,255,0.7);
	/*background: #CFCECD;*/
	color: #DF3732;
	text-shadow: 1px 1px rgba(0,0,0,0.5);

}
h2 {
	
}
#top img {
	border: 1px solid #ccc;
	border-radius: 20px;
	cursor: pointer;
}
.navigation {
	display: none;
	text-align: left;
	list-style: none;
	line-height: 1.5em;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px 20px;
}
.navigation a {
	text-decoration: none;
	color: #DF3732;
}
.navigation a:hover {
	text-decoration: underline;
}
#breadcrumb {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#breadcrumb ul {
	list-style: none;
	margin: .5em 0;
}
#breadcrumb li {
	display: block;
	float: left;
	margin-right: 12px;
}
#breadcrumb a {
	color: #DF3732;
	text-decoration: none;
}
#breadcrumb a:hover {
	text-decoration: underline;
}
#breadcrumb li:first-child:after {
	position: relative;
	content: '>';
	font-size: 12px;
	left: 5px;
	top: -2px;
}
#subpage {
	display: none;
}